@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;1,100&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfbfb;
}

.container {
    margin: 0 auto;
    max-width: 1315px;
    padding: 0 15px;
}
.header {
    width: 100%;
    position: fixed;
    background-color: transparent;
    padding: 15px;
}

.header-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-nav-menu{
    display: flex;
    align-items: center;
}

.header-nav-menu li{
    text-decoration: none;
    display: inline;
}

.header-nav-menu li a{
    color: #fff;
    text-decoration: none;
    position: relative;
    margin-left: 31px;
    transition: color 0.25s cubic-bezier(0.56,0.01,0.4,1);
    font-size: 25px;
    line-height: 20px;
    font-weight: 900;
}

.header-nav-menu li a:after{
    transition: transform 0.25s;
    transform-origin: center;
    transform: scaleX(0);
    pointer-events: none;
    content: "";
    width: 110%;
    position: absolute;
    bottom: -2px;
    left: -5%;
    height: 2px;
    background-color: #fff;
}

.header-nav-menu li a:hover:after {
    transform: scaleX(1)
}

.main-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0;
}

.header-nav-cta {
    display: flex;
    align-items: center;
}

.phone-number-link {
    color: #fff;
    margin-right: 30px;
    letter-spacing: 1px;
    position: relative;
    transition: color 0.25s cubic-bezier(0.56,0.01,0.4,1);
    text-decoration: none;
    font-size: 25px;
    line-height: 20px;
    font-weight: 900;
}

.phone-number-link span:after {
    transition: transform 0.25s;
    transform-origin: center;
    transform: scaleX(0);
    pointer-events: none;
    content: "";
    width: 110%;
    position: absolute;
    bottom: -2px;
    left: -5%;
    height: 2px;
    background-color: #fff;
}

.phone-number-link span:hover:after {
    transform: scaleX(1)
}

.header-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: 0.5px solid #fff;
    padding: 15px 25px 14px 25px;
    text-transform: uppercase;
    transition: all 0.25s cubic-bezier(0.56,0.01,0.4,1);
    font-size: 25px;
    line-height: 20px;
    font-weight: 700;
}

.header-button:hover {
    background-color: #fff;
    color: #3646d3;
}

.hero-banner-img {
    width: 100vw;
    height: 90vh;
}

.content-carousel {
    margin-top: 5rem;
    position: relative;
}

.carousel-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.carousel-title {
    margin: 0 0 0.5rem;
    color: #3646d3;
    font-size: 60px;
}

.carousel-slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-carousel-slide-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-carousel-slide-text-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    margin: 0;
}

.footer {
    background-color: #fff;
}

.footer-container {
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.footer-title {
    margin: 0;
}

footer .h5{
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
}

.footer-top {
    display: flex;
    margin: 2rem 0 2.5rem;
    position: relative;
    flex-direction: column;
}

.footer-top-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-top-phone {
    color: #3646d3;
    text-decoration: none;
}

.footer-top-phone.h8{
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
}

.footer-top-email {
    color: #3646d3;
    margin: 0;
}

.footer-top-email.h8 {
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
}

.footer-top-menu {
    display: flex;
    align-items: flex-end;
}

.footer-top-link:not(:last-child) {
    margin-right: 2rem;
}

.footer-top-link {
    color: #292929;
    text-decoration: none;
    width: auto;
    position: relative;
}

.footer-top-link.b6 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.footer-bot {
    display: flex;
}

.footer-bot-address {
    width: 33.33333%;
    text-align: left;
}

.footer-bot-address a{
    color: #3646d3;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
}

.social-icons--footer {
    width: 33.33333%;
}

.social-icons--footer svg {
    height: 20px;
}

.social-icons--footer .svg path {
    fill: #3646d3;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social-icons-link:not(:last-child) {
    margin-right: 2rem;
}

.footer-bot-menu {
    width: 33.33333%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.footer-bot-link:not(:last-child) {
    margin-right: 0.75rem;
}

.footer-bot-link {
    color: #3646d3;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
}

.footer-bot-menu-copyright {
    margin-left: 20px;
    color: #3646d3;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
}

/* contact us Page */
.contact-us-hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.contact-us-hero-box {
    grid-column: 1/7;
    grid-row: 1/9;
    z-index: -1;
}

.contact-us-hero-box img {
    z-index: -1;
}

.contact-us-hero-msg {
    grid-column: 2/3;
    grid-row: 6/7;
    text-align: start;
}

.contact-us-home-title {
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
}

.contact-us-form {
    background-color: #fff;
    max-width: 575px;
    height: 550px;
    padding: 40px 40px 0;
    border-top: 8px solid #3646d3;
    grid-column: 4/6;
    grid-row: 3/7;
}

.form-title {
    margin: 0;
    text-align: start;
}

.form-fields {
    list-style-type: none;
    padding: 0;
    text-align: start;
}

.field {
    width: 100%;
    margin-top: 20px;
}

.field-label {
    color: #4d4d4d;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 20px;
}

.form-fields input {
    border: 1px solid #bfbaba;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 20px;
}

.form-footer {
    display: flex;
    justify-content: flex-end;
}

.form-submit {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
}