* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    margin: 0 auto;
    max-width: 1315px;
    padding: 0 15px;
}
.header {
    width: 100%;
    position: fixed;
    background-color: transparent;
    padding: 15px;
}

.header-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-nav-menu{
    display: flex;
    align-items: center;
}

.header-nav-menu li{
    text-decoration: none;
    display: inline;
}

.header-nav-menu li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}

.main-menu {
    list-style: none;
    flex-direction: row;
    position: relative;
    padding: 0;
}

.header-nav-cta {
    display: flex;
    align-items: center;
}

.phone-number-link {
    color: #fff;
    margin-right: 30px;
    letter-spacing: 1px;
    position: relative;
}

.header-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: 0.5px solid #fff;
    padding: 15px 25px 14px 25px;
    text-transform: uppercase;
}

.hero-banner-img {
    max-width: 1600px;
    max-height: 500px;
}